:root {
	/* VARIABLE COLLECTION */
	--dark-blue: #0a1628;
	--yellow-colors: #f4e100;
	--red-color: #c70000;
	--dark-color: #0a0a0a;
	--jaune: #ffe194;
	--color-festicloze-header: #f8dd80;
	--color-blue-contact: #8ec5ff;
	--color-pink-telephone: #fda5d5;
	--color-violet-email: #dab2ff;
	--color-violet-profond: #9810fa;
}
