/* style.css - Ordre CRUCIAL */

/* 1. Vendors - Spécificité la plus faible */
@import "vendors/normalize.css"; 

/* 2. Utils - Variables globales */
@import "utils/variable.css";    

/* 3. Base - Éléments HTML bruts */
@import "base/main.css"; 
@import "base/media.css";           

/* 4. Layout - Structure de page */
@import "layout/header.css";    
@import "layout/footer.css";     

/* 5. Components - Spécificité la plus forte */
@import "components/button.css";  
@import "components/menu.css";  
@import "components/hero.css";
@import "components/carousel.css";  

@import "layout/footer.css";

@import "src/css/page/404.css";


